<li>
  <%= link_to author.name, author, class: "left" %>
  <% if current_user.admin? %>
    <%= link_to t(:text_delete), author, method: :delete, class: "btn btn-outline-primary right" %>
    <%= link_to t(:text_edit), edit_author_path(author), class: "btn btn-outline-primary right" %>
  <% end %>
</li>
