<% provide(:title, t("authors.index.name_page")) %>
<h1><%= t("authors.index.name_page") %></h1>

<% if current_user.admin? %>
<%= link_to t("authors.index.text_button"), new_author_path, class: "btn btn-outline-primary right" %>
<% end %>

<ul class="objects">
  <%= render @authors %>
</ul>

<%= will_paginate %>
