<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="object_info">
      <%= render "shared/user_info" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= t("users.show.text_comments") %></h3>
    <%= render "shared/feed" %>
  </div>
</div>
