<% @user ||= current_user %>
<div class="stats">
  <a href="<%= author_following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.author_following.count %>
      <%= t(:text_following) %>
      <%= t("layouts.header.text_author") %>
    </strong>
  </a>
</div>
