<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to t("shared.user_info.view_profile"), @user %></span>
<span><%= pluralize(@user.comments.count, "comment") %></span>
