<% provide(:title, t("publishers.new.name_page")) %>
<% provide(:button_name, t("publishers.new.text_button")) %>
<h1><%= t("publishers.new.name_page") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
